{% extends 'blog/base.html' %}


{% block content %}
 
    <h2>Iniciar sesion </h2>
    <h3>(Debes ser un super Usuario para poder Iniciar sesion .)</h3>
    {% if form.errors %}
        <p>Tu nombre de usuario y password, no concuerdan</p>
    {% endif %}

    <form method="POST" action="">
    {% csrf_token %}
        {{form.as_p}}

        <input type="submit" class='btn btn-primary' value="Login" />
        <input type="hidden" name="next" value="{{ next }}" />
    </form>
  </div>
{% endblock %}



