{% extends 'blog/base.html' %}

    {%block content%}
        <h1> Borradores </h1>    
        <ul>
        {% for post in post_draft %}
            {%if not post.published_at%}
            <li>               
               {{post.title}} </br>
                {{post.text}} </br>
                creado por : {{post.author}}
                {{post.created_at}} 
                <a href="{%url "blog:post_publish" pk=post.pk%}"> Publicar </a>    
                <hr>
                 </li>
            {%endif%}                
        {%endfor%}
        </ul>
    {%endblock%}    