{% extends 'blog/base.html' %}

{%block content%}

    <h1> {{post_detail.title}} </h1>
        {{post_detail.created_at}}
        

    <p> {{post_detail.text|safe}} </p>


    {%if user.username%}
    <a href="{% url "blog:post_update" pk=post_detail.pk%}"> Actualizar Post </a>

    <a href="{% url "blog:post_delete" pk=post_detail.pk%}"> Eliminar Post </a> <hr>
    {%endif%}

    <h4> Comments:  </h4>
    
    <ul>
    {%for comment in post_detail.comment.all%}
        {%if comment.aproved%}
        <li>{{comment.author}}<br/>
            {{comment.text}}<hr></li>
            {%if user.username%}
                <a href={%url "blog:delete_comment" pk=comment.pk%}> Borrar comentario </a>
            {%endif%}    
        {%else%}
            {%if user.username%}
            
                <li>{{comment.author}}<br/>
                    {{comment.text}}
                    <a href={%url "blog:aprove_comment" pk=comment.pk%}> Aprobar comentario </a>
        
                </li>
                <hr> 
            {%endif%}      
        {%endif%}

        
    {%endfor%}   
    </ul> 

    <a href="{%url "blog:create_comment" pk=post_detail.pk%}"> <strong> Deja un comentario:  </strong> </a><br>
    <p> Una vez creado, deberas esperar a que un administrador apruebe tu comentario para vizualizarlo </p>
    

    {%endblock%}
    



  


